Project5/Project5/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="StepsToSavings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="steps" type="xs:int" />
        <xs:element minOccurs="0" name="gasPrice" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StepsToSavingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StepsToSavingsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GoogleSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GoogleSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GoogleSearchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>